<div class="container-fluid">
<div class="row justify-content-center">
	<div class ="form-group col-md-1">
		<label for="reimb_id_input">Approve: </label>
	</div>
	<div class="form-group col-md-2">
		<input type="number" name = "reimb_id_input_1" id="reimb_id_input_1" placeholder="id"
		required>
	</div>
	<div class="form-group col-md-1">
		<input type="button" id = "apprv_btn" value="Approve">
	</div>
</div>
<div class="row justify-content-center">
	<div class ="form-group col-md-1">
		<label for="reimb_id_input">Deny: </label>
	</div>
	<div class="form-group col-md-2">
		<input type="number" name = "reimb_id_input_0" id="reimb_id_input_0" placeholder ="id"
		required>
	</div>
	<div class="form-group col-md-1">
		<input type="button" id = "deny_btn" value="Deny">
	</div>
</div>
</div>
<div class="container-fluid">
	<table id="table_id" class="table table-bordered table-hover" style = "width:100%">
		<thead>
			<tr>
				<th>Reimbursement ID</th>
				<th>Amount</th>
				<th>Submission Date</th>
				<th>Resolution Date</th>
				<th>Description</th>
				<th>Resolver ID</th>
				<th>Status ID</th>
				<th>Type ID</th>
				<th>Author ID</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>loading...</td>
			</tr>
		</tbody>
	</table>
</div>