<div class="container-fluid">
	<table id="table_id" class="table table-bordered table-hover" style = "width:100%">
		<thead>
			<tr>
				<th>Reimbursement ID</th>
				<th>Amount</th>
				<th>Submission Date</th>
				<th>Resolution Date</th>
				<th>Description</th>
				<th>Resolver ID</th>
				<th>Status ID</th>
				<th>Type ID</th>
				<th>Author ID</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>loading...</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="form-group ">
	<div class="form-group">
		<h3>Request Reimbursement:</h3>
		<div class = "row justify-content-center">
			<div class="form-group col-md-1">
				<label for = "amount">Amount: </label>
			</div>
			<div class="form-group col-md-3">
				<input type ="number" id ="amount" name ="amount" placeholder="$0.00" required/>
			</div>
		</div>
		<div class = "row justify-content-center">
			<div class="form-group col-md-2">
				<label for = "reimb_type">Reimbursement Type: </label>
			</div>
			<div class="form-group col-md-3">
				<select name="reimb_type" id="reimb_type" required>
					<option value ="lodging">Lodging</option>
					<option value ="food">Food</option>
					<option value ="travel">Travel</option>
					<option value ="certification">Certification</option>
					<option value ="medical">Medical</option>
				</select>
			</div>
		</div>
		<div class ="row justify-content-center">
			<div class="form-group col-md-1">
				<label for="description">Description: </label>
			</div>
			<div class="form-group col-md-4">
				<textarea rows="10" cols="50" name="description" id="description" placeholder="Enter a description"></textarea>
			</div>
			</div>
		<div class="row justify-content-center">
			<input type = "button" id = "submitReimb_btn" name = "submitReimb_btn" value = "Submit">
		</div>
	</div>
</div>