<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Reimbursement ID</th>
            <th>Amount</th>
            <th>Submission Date</th>
            <th>Resolution Date</th>
            <th>Description</th>
            <th>Resolver ID</th>
            <th>Status ID</th>
            <th>Type ID</th>
            <th>Author ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
    </tbody>
</table>
<div class = "form-group">
<input type = "button" id = "test" name = "test" value = "Test"/>
</div>